<!-- ======================================== 
        Our Main Hero Section Start  
========================================  -->

<main>
    <section class="section-hero section">
        <div class="container grid grid-two-column">
            <div class="section-hero-data">
                <p class="hero-top-data">this is me</p>
                <h1 class="hero-heading">Praduman Pandey</h1>
                <p class="hero-para">I'm Praduman Pandey, a Magento 2 Developer specializing in custom module creation, extension development, and theme customization.</p>
                <div>
                    <a href="#section-biodata" class="btn">Know More</a>
                </div>
            </div>
            <!-- hero section right side -->

            <div class="section-hero-image">
                <picture>
                    <source srcset="{{ 'assets/images/webp/hero.webp' | relative_url }}" type="image/webp">
                    <source srcset="{{ 'assets/images/hero.jpg' | relative_url }}" type="image/jpg">
                    <img src="{{ 'assets/images/hero.jpg' | relative_url }}" alt="this is me Praduman Pandey" fetchpriority="high" width="400" class="hero-img" loading="eager">
                </picture>
            </div>
        </div>
    </section>
</main>
